body{
	background-image: url("images/backgroud2.png");
    background-repeat: no-repeat;
    background-size: cover;
	background: #00FFFF;
	font-family: roboto;
	text-align: center;
	<!-- color: #fff -->
}
 
.ketengah{
	margin: 10px auto;
	width: 1150px;
}
 
h1{
  font-family: 'Tangerine', serif;
  font-size: 35px;
  text-shadow: 4px 4px 4px #aaa;
}
}
 
p{
	font-family: Sans-serif;
}

.gambar{
	height: 250px;
	width: 250px;
}

	