body{
	background: #00FFFF;
	font-family: roboto;
	text-align: center;
	<!-- color: #fff -->
}
 
.ketengah{
	margin: 10px auto;
	width: 1150px;
}
 
h1{
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
}
 
p{
	font-family: gevena;
}

	