body{
	background: #00FFFF;
	font-family: roboto;
	text-align: center;
	<!-- color: #fff -->
	background-image: url("images/backgroud2.png");
}
 
.ketengah{
	margin: 10px auto;
	width: 1150px;
}
 
h1{
  font-family: 'Tangerine', serif;
  font-size: 35px;
  text-shadow: 4px 4px 4px #aaa;
}
}
 
p{
	font-family: gevena;
}

.gambar{
	height: 300px;
	width: 500px;
}

	