<!-- ads adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7670877327243459"
     crossorigin="anonymous"></script>
<!-- iklan display -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7670877327243459"
     data-ad-slot="6888586521"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- ads adsense end-->

