
  {% assign color_main  = page.color_main  | default: layout.color_main %}

  <div class='blog_borderrr'>
  {% for post in posts %}
    <div class='blog_border'>
    		<span><time datetime="{{ post.date | date_to_xmlschema }}"> {{ post.date | date: "%b %-d, %Y" }}</time></span>
          
            <h3 class="post__title">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <p class="article__excerpt">
                {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 185 }}{% endif %}
            </p>
            
        </div>
  {% endfor %}
  </div>

