<footer>
  <hr>

  <div class="container-fluid mb-4">
  <div class="img_mid text-center ICON">
    <a href="https://instagram.com/wahyu_6070" target="_blank" rel="noopener noreferrer"><img src="/assets/img/media/instagram.png" alt="Instagram wahyu6070" class="ICON"></a>
    <a href="https://youtube.com/channel/UCoqHuQ6CssiZCk3q4haOLUQ" target="_blank" rel="noopener noreferrer"><img src="/assets/img/media/youtube.png" alt="YouTube wahyu6070" class="ICON"></a>
    <a href="https://fb.me/wahyu6070" target="_blank" rel="noopener noreferrer"><img src="/assets/img/media/facebook.png" alt="Facebook wahyu6070" class="ICON"></a>
    <a href="https://t.me/wahyu6070" target="_blank" rel="noopener noreferrer"><img src="/assets/img/media/telegram.png" alt="Telegram wahyu6070" class="ICON"></a>
    <a href="https://twitter.com/wahyu6070" target="_blank" rel="noopener noreferrer"><img src="/assets/img/media/twitter.png" alt="Twitter wahyu6070" class="ICON"></a>
    <a href="https://www.tiktok.com/@wahyu6071" target="_blank" rel="noopener noreferrer"><img src="/assets/img/media/tiktok.png" alt="TikTok wahyu6071" class="ICON"></a>
    <a href="https://forum.xda-developers.com/m/wahyu6070.9507265/" target="_blank" rel="noopener noreferrer"><img src="/assets/img/media/xda.png" alt="XDA Developers wahyu6070" class="ICON"></a>
    <a href="https://github.com/wahyu6070" target="_blank" rel="noopener noreferrer"><img src="/assets/img/media/github.png" alt="GitHub wahyu6070" class="ICON"></a>
    <a href="https://paypal.me/wahyu6071" target="_blank" rel="noopener noreferrer"><img src="/assets/img/media/paypal.png" alt="PayPal wahyu6071" class="ICON"></a>
    <a href="mailto:litegapps@gmail.com"><img src="/assets/img/media/email.png" alt="Email litegapps@gmail.com" class="ICON"></a>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container">
    <div class="py-5"> <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5 class="footer_title">Support</h5> <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://dolphin-emu.site" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">Dolphin Emulator</a></li>
            <li class="nav-item mb-2"><a href="https://magisk.dev" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">Magisk</a></li>
            <li class="nav-item mb-2"><a href="https://winlator.me" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">Winlator</a></li>
            <li class="nav-item mb-2"><a href="https://ppsspp.info" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">PPSSPP</a></li>
            <li class="nav-item mb-2"><a href="https://pcsx2.me" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">PCSX2</a></li>
            <li class="nav-item mb-2"><a href="https://rpcs3.me" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">RPCS3</a></li>
            <li class="nav-item mb-2"><a href="https://ps2bios.site/" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">PS2 Bios</a></li>
            <li class="nav-item mb-2"><a href="https://aethersx2.gitlab.io/" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">AetherSX2</a></li>
            <li class="nav-item mb-2"><a href="https://roms9.com/" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">PS2 Games</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5 class="footer_title">Social Media</h5> <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://facebook.com/groups/332597627343236/" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">Facebook Group</a></li>
            <li class="nav-item mb-2"><a href="https://t.me/aethersx2_emulator" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener noreferrer">Telegram Channel</a></li>
            </ul>
        </div>

        <!-- Contoh kolom tambahan:
        <div class="col-md-4 mb-3 offset-md-1">
          <h5 class="footer_title">About Us</h5>
          <p class="text-body-secondary">Some information about your site.</p>
        </div>
        -->

      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p class="text-body-secondary">© {% if site.time %}{{ site.time | date: "%Y" }}{% else %}2024{% endif %} wahyu6070. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          </ul>
      </div>
    </div>
  </div>
</footer>
