<footer>
<hr>

<div class="container-fluid">
 <div class="img_mid">
	<span><a href="https://instagram.com/wahyu_6070"><img src="/assets/img/media/instagram.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://youtube.com/channel/UCoqHuQ6CssiZCk3q4haOLUQ"><img src="/assets/img/media/youtube.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://fb.me/wahyu6070"><img src="/assets/img/media/facebook.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://t.me/wahyu6070"><img src="/assets/img/media/telegram.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://twitter.com/wahyu6070"><img src="/assets/img/media/twitter.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://www.tiktok.com/@wahyu6071"><img src="/assets/img/media/tiktok.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://forum.xda-developers.com/m/wahyu6070.9507265/"><img src="/assets/img/media/xda.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://github.com/wahyu6070"><img src="/assets/img/media/github.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://paypal.me/wahyu6071"><img src="/assets/img/media/paypal.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="mailto: litegapps@gmail.com"><img src="/assets/img/media/email.png" alt="icon sosmed svg" class="ICON"></img></a></span>
 </div>
</div>



<div class="b-example-divider"></div>

<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <div class="footer_title">Support</div>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://dolphin-emu.site" class="nav-link p-0">Dolphin Emulator</a></li>
          <li class="nav-item mb-2"><a href="https://magisk.dev" class="nav-link p-0">Magisk</a></li>
          <li class="nav-item mb-2"><a href="https://winlator.me" class="nav-link p-0">Winlator</a></li>
          <li class="nav-item mb-2"><a href="https://ppsspp.info" class="nav-link p-0">Ppsspp</a></li>
          <li class="nav-item mb-2"><a href="https://pcsx2.me" class="nav-link p-0">PCSX2</a></li>
          <li class="nav-item mb-2"><a href="https://rpcs3.me" class="nav-link p-0">RPCS3</a></li>
          <li class="nav-item mb-2"><a href="https://ps2bios.site/" class="nav-link p-0">PS2 Bios</a></li>
          <li class="nav-item mb-2"><a href="https://aethersx2.gitlab.io/" class="nav-link p-0">aethersx2.gitlab.io</a></li>
          <li class="nav-item mb-2"><a href="https://roms9.com/" class="nav-link p-0">PS2 Games</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <div class="footer_title">Social Media</div>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://facebook.com/groups/332597627343236/" class="nav-link p-0">Facebook</a></li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://t.me/aethersx2_emulator" class="nav-link p-0">Telegram</a></li>
        </ul>
      </div>
	</div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; {{ now.Format "2006"}} aethersx2 emulator by Tahlreth</p>
    </div>
  </footer>
</div>
</footer>
