<hr>

<div class="container-fluid">
 <div class="img_mid">
	<span><a href="https://instagram.com/wahyu_6070"><img src="/assets/img/media/instagram.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://youtube.com/channel/UCoqHuQ6CssiZCk3q4haOLUQ"><img src="/assets/img/media/youtube.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://fb.me/wahyu6070"><img src="/assets/img/media/facebook.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://t.me/wahyu6070"><img src="/assets/img/media/telegram.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://twitter.com/wahyu6070"><img src="/assets/img/media/twitter.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://www.tiktok.com/@wahyu6070"><img src="/assets/img/media/tiktok.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://forum.xda-developers.com/m/wahyu6070.9507265/"><img src="/assets/img/media/xda.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://github.com/wahyu6070"><img src="/assets/img/media/github.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="https://paypal.me/wahyu6070"><img src="/assets/img/media/paypal.png" alt="icon sosmed svg" class="ICON"></img></a></span>
	<span><a href="mailto: litegapps@gmail.com"><img src="/assets/img/media/email.png" alt="icon sosmed svg" class="ICON"></img></a></span>
 </div>
</div>




<footer>
<hr>
<p><div class="FOOTER"><a href="https://litegapps.github.io">LiteGapps</a></div></p>
<p><div class="FOOTER"><a href="https://aethersx2.me">AetherSX2 Emulator</a></div></p>
<p><div class="FOOTER"><a href="https://aethersx2.gitlab.io">aethersx2.gitlab.io</a></div></p>
<p><div class="FOOTER"><a href="https://dolphin27.gitlab.io">Dolphin Emulator</a></div></p>
<p><div class="FOOTER"><a href="https://ppsspp.gitlab.io">PPSPP Emulator</a></div></p>
<p><div class="FOOTER"><a href="https://androidroot.net">Android Root</a></div></p>
	<p><div class="FOOTER"><b>Copyright <span>&#169;</span> 2025 wahyu6070</b></div></p>
</footer>
