<nav class="navbar navbar-expand-lg navbar-light bg-light dark-theme">
      <div class="offcanvas offcanvas-start bg-light" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" style="width:320px;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Wahyu6070</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width:280px;">
            <a href="https://bitgapps.io" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            
              <div class="lh-1">
                <h1 class="fs-6 mb-0 text-dark lh-1">Menu</h1>
              </div>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a class="nav-link link-dark" href="/index.html">Home</a>
              </li>
              <li>
                <a class="nav-link link-dark" href="/about">About Us</a>
              </li>
              <li>
                <a class="nav-link link-dark" href="/contact">Contact Us</a>
              </li>
              <li>
                <a class="nav-link link-dark" href="/blog">Blog</a>
              </li>
              <li>
                <a class="nav-link link-dark" href="https://www.paypal.me/wahyu6070">Paypal</a>
              </li>
              <li>
                <a class="nav-link link-dark" href="mailto:info@litegapps@gmail.com">Email</a>
              </li>
              </li>
              <li>
                <a class="nav-link link-dark" href="/cookie-policy">Cookie Policy</a>
              </li>
              </li>
              <li>
                <a class="nav-link link-dark" href="/privacy-policy">Privacy Policy</a>
              </li>
              </li>
              <li>
                <a class="nav-link link-dark" href="/terms-of-service">Terms Of Service</a>
              </li>
            </ul>
            <hr>
          </div>
        </div>
      </div>
      
      
  <div class="container-fluid">
    <a class="navbar-brand" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" href="/index.html"> <div class="text-icon">Wahyu6070</div></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
        {% if page.layout == "home" %}
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        {% else %}
        	 <a class="nav-link" aria-current="page" href="/index.html">Home</a>
        {% endif %}
        </li>
        <li class="nav-item">
        {% if page.layout == "post" %}
          <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
        {% else %}
        	 <a class="nav-link" aria-current="page" href="/blog">Blog</a>
        {% endif %}
        </li>
        
         <li class="nav-item">
        {% if page.layout == "external" %}
          <a class="nav-link active" aria-current="page" href="/about.html">About</a>
        {% else %}
        	 <a class="nav-link" aria-current="page" href="/about.html">About</a>
        {% endif %}  
        </li>
        <li class="nav-item">
        	<a class="nav-link" aria-current="page" href="/contact">Contact Us</a>
        	
        </li>
        <li class="nav-item">
        	<a class="nav-link" aria-current="page" href="/privacy-policy">Privacy Policy</a>
        	
        </li>
        <li class="nav-item">
        	<a class="nav-link" aria-current="page" href="/cookie-policy">Cookie Policy</a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" aria-current="page" href="/terms-of-service">Terms Of Service</a>
        </li>	
      </ul>  
      </div>
  </div>
</nav>
