@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
.text-icon{
  color: #007d9c;
  font-family: 'Italianno', cursive;
  text-align: center;
  font-size: 35px;
  }
.text-title{
  color: #007d9c;
  font-family: 'Italianno', cursive;
  font-size: 20px;
  position:absolute;
    right:50px;
    top:50px;
  }
  
.circular-image {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
	
.my-foto {
     width: 210px;
     height: 335px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     
}
