@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
.text-icon{
  color: #007d9c;
  font-family: 'Italianno', cursive;
  text-align: center;
  font-size: 35px;
  }
.text-title{
  color: #007d9c;
  font-family: 'Italianno', cursive;
  font-size: 20px;
  position:absolute;
    right:50px;
    top:50px;
  }
.img-profile{
	width: 80;
	height: 70;
	}
	
