@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Mali:wght@600&display=swap');
p{
	font-family: 'Italianno', cursive;
	font-family: 'Mali', cursive;
	}
td, th{
	font-family: 'Italianno', cursive;
	font-family: 'Mali', cursive;
	
}