.my-foto {
     width: 370px;
     height: 400px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     border-radius: 25px;
     
}
@media (min-width: 600px) {
        .my-foto {
     width: 500px;
     height: 300px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     padding-left: 160px;
          }
      }
 .col-product{
	padding-top: 30px;
	
	}
	
.col-product2{
	padding-top: 30px;
	
	}
@media screen and (min-width: 600px) {
  
	.col-product2 {
    padding-top: 0px;
  }
}
