{% include meta/html.html %}

  <head>
  {% include default.html %}
  {% include google_head.html %}
  {% include ads_head.html %} 
  {% seo title=false %}
  
  {% include framework.html %}
    <link rel="stylesheet" href="{{ "/assets/css/blog.css" | relative_url }}">
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" type="image/png" href="/assets/img/icon.ico">
	</head>
	

<body>
{% include google_body.html %}
{% include ads_body.html %}

<main>
<header>
<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }}</p>
</header>
<article>
{{ content }}
</article>

</main>
{% include ads_footer.html %}
{% include footer.html %}
{% include footer_js.html %}
</body>
</html>



