{% include meta/html.html %}
<head>

<title>{{ page.title }}</title>
<link rel="shortcut icon" type="image/png" href="/assets/img/icon.ico">
{% include default.html %}

<script async="async" data-cfasync="false" src="//thubanoa.com/1?z=6834949"></script>

<meta http-equiv="refresh" content="15; URL={{ page.landing }}">

{% seo title=false %}
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}">
{% include google_head.html %}
</head>
<body>


{% include navigation.html %}

<main class="container">
<article>
{{ content }}
</article>


</main>
<footer>
<hr>
	<p><div class="FOOTER"><a href="https://augailou.com/4/6833743">Ads menetag</a></div></p>
	<p><div class="FOOTER"><a href="https://www.toprevenuegate.com/b9p0mwvwgs?key=c882ea866d79e457f018e720ee79a171">Adstera</a></div></p>
<p><div class="FOOTER"><a href="/landing">Landing</a></div></p>
<p><div class="FOOTER"><a href="/contact">Contact Us</a></div></p>
<p><div class="FOOTER"><a href="/privacy-policy">Privacy Policy</a></div></p>
<p><div class="FOOTER"><a href="/cookie-policy">Cookie Policy</a></div></p>
<p><div class="FOOTER"><a href="/terms-of-service">Terms Of Service</a></div></p>
<p><div class="FOOTER"><b>Copyright <span>&#169;</span> 2023 wahyu6070</b></div></p>
</footer>


<script type="text/javascript" src="/assets/js/proper.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<noscript>
        <meta http-equiv="refresh" content="20; URL=https://wahyu6070.github.io/landing/">
    </noscript>
</body>
</html>
